#root {
  --navbar-height: 60px;
}

.topbar, .bottom-bar {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: var(--navbar-height);
  background: #789;
  color: #DEF;
  font: 2em "Lucida Console", "Courier New", monospace;
}

.topbar {
  top: 0;
}

.bottom-bar {
  bottom: 0;
}

.topbar .dia, .cast {
  display: flex;
  justify-content: center;

  font-size: 22px;
  font-weight: bold;
  padding: 3px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 2px;
}

.topbar .dia {
  background-color: #345;
  color: whitesmoke;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.topbar .cast {
  background-color: whitesmoke;
  color: black;
  box-shadow: 0 0 10px black;
}
