#root {
  --navbar-height: 60px;
}

.topbar, .bottom-bar {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: var(--navbar-height);
  background: #789;
  color: #DEF;
  padding: 15px;
}

.topbar {
  top: 0;
}

.bottom-bar {
  bottom: 0;
}

.topbar .title {
  display: flex;
}

.topbar .dia, .cast {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 2px;
}

.topbar .dia {
  background-color: #345;
  color: whitesmoke;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.topbar .cast {
  background-color: whitesmoke;
  color: black;
  box-shadow: 0 0 10px black;
}

.topbar .logo {
  border-radius: 50%;
  box-shadow: 0 0 10px black;
}

.topbar .top-menu {
  position: relative;
  width: 32px;
}

.top-menu .bar1, .bar2, .bar3 {
  width: 32px;
  height: 5px;
  background-color: #123;
  margin: 6px 0;
  transition: 0.4s;
}

.top-menu.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.top-menu.open .bar2 {opacity: 0;}

.top-menu.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.top-menu .menu-items {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50px;
  right: 0;
  z-index: 1;
  width: 150px;
  transform-origin: top;
  transform: scale(1, 0);
  transition: 0.4s;
}

.top-menu.open .menu-items {
  transform: scale(1);
}

.top-menu .menu-item {
  background: #567;
  border: 1px solid #9AB;
  width: 100%;
  text-align: left;
  padding: 10px;
}

.top-menu .menu-item:hover {
  background: #345;
}